# section for solver options
[solver]
ksp-type=preonly
pc-type=cholesky
mat-package-type=cholmod

# section for forcing and initialisation options
[setup]
ice-type=topaz
ocean-type=topaz
atmosphere-type=asr
bathymetry-type=etopo

# section for simulation options
[simul]
verbose=1
duration=3