# untracked files to ignore
mesh/mesh_links
data/data_links
model/version.hpp
nextsim-doc
*.m
*.msh
*.geo
*.bin
*.dat
*txt
*.info
*.nc*
*.pos
*.back
*octave*
*.sw?
lib/
objs/
bin/
expt_*/
.deps/
*.log
profile.pdf
.DS_Store
modules/enkf/enkf-c/make.inc
.vscode/settings.json
Desktop
