# untracked files to ignore
.*.swp
*.mat
*.msh
*.geo
*.bin
*.dat
*txt
*.info
*.nc*
*.pos
*.back
*octave*
lib/
objs/
bin/
.deps
*.grd
model/libboost_date_time.dylib
model/libboost_filesystem.dylib
model/libboost_mpi.dylib
model/libboost_program_options.dylib
model/libboost_serialization.dylib
model/libboost_system.dylib
nextsim_pierre.cfg
run_pierre.sh

model/out_cpp/*
model/results/*
model/bak/*
matlab/mapx_forward.mexmaci64
matlab/mapx_inverse.mexmaci64

model/Run.log
nextsim.src
.DS_Store
._.DS_Store

*.pyc
model/expt_*
pierre.cfg
longRun_ccsm.cfg

modules/wim/run/out_cpp*

modules/wim/run/out_cpp_16dir/binaries/final/wim_out20150101T120000Z.a
