# section for solver options
[solver]
ksp-convergence-info=false
ksp-type=preonly
pc-type=cholesky
mat-package-type=cholmod

# section for forcing and initialisation options
[setup]
ice-type=constant_partial
ocean-type=constant
atmosphere-type=constant
bathymetry-type=constant

# section for simulation options
[simul]
mesh_filename=wim_grid_split2_4000m.msh
mesh_path=simdatadir
hsize=0.0125
verbose=1
log-level=info#debug#info
use_thermo_forcing=false
init_thickness=1.
init_concentration=0.7
use_coriolis=false
timestep=50
constant_wind_u=10.
constant_wind_v=0.
time_init=2015-10-16 00:00:00
output_per_day=24
duration=2
output_directory=out_cpp/mesh
save_forcing_field=false
