[mesh]
filename=small_arctic_10km.msh
#filename=RASI_3_30km.msh
#type=anisotropic

[simul]
duration=15 #175
time_init=2006-11-15
timestep=270

[dynamics]
compression_factor=10e3
C_lab = 2.0e6
substeps=120
time_relaxation_damage=15
use_temperature_dependent_healing=true

[moorings]
snapshot=true
output_timestep=0.25
spacing = 3
use_moorings=true
variables = Qa
variables = conc
variables = thick
variables = velocity
variables = ridge_ratio
variables = damage

[output]
exporter_path=/output/control
output_per_day=4
export_fields=true
variables=M_VT

[restart]
write_final_restart = true
output_interval=30
write_interval_restart=true
write_restart_before_regrid=true
write_restart_after_regrid=true
# start_from_restart=true
# input_path=/experiments/scaling_paper/test/restart
# basename=pre_regrid_20061115T164640Z

[setup]
atmosphere-type=era5
atmospheric_forcing_input_path=/input/ERA5_DROWNED
ice-type=topaz4_rean-osisaf-icesat
ocean-type=topaz4_rean
oceanic_forcing_input_path=/input/TOPAZ4_rean_merged_30m/daily_mean
bathymetry-type=etopo
dynamics-type=bbm

[thermo]
diffusivity_sss=0
diffusivity_sst=0
h_young_max=0.3
newice_type=1
hnull=0.5
melt_type=2
PhiM=0.2
alb_ice=0.82
alb_sn=0.9

[debugging]
#log-level=debug
#maxiteration=10 #00
# log-all=true
# export_overshoots=true
# check_fields=true

#[numerics]
#advection=Remapping
#remap_every_ts=true
#metric_field=resolution
#regrid_angle=8
#regrid_on_init=true
#advection=Lagrangian
